@charset "utf8";

@media screen and (min-height: 1080px) {
  section {
    height: calc(100vh - 166px);
  }
}

@media screen and (max-width: 1280px) {
  section {
    grid-template-columns: 38% 62%;
  }

  section #float-left h1 {
    font-size: 50px;
    line-height: 65px;
  }

  section #float-right #top-image img {
    width: 60%;
  }

  section #float-right #bottom-image img:nth-child(1),
  section #float-right #bottom-image img:nth-child(3) {
    width: 220px;
  }

  section #float-right #bottom-image img:nth-child(2) {
    width: 190px;
  }
}

@media screen and (max-width: 1210px) {
  ul li a {
    font-size: 18px;
  }

  #logo-main img {
    width: 48px;
    height: 30px;
  }

  #icon-Bag img {
    width: 30px;
    height: 30px;
  }

  #input-search {
    padding-left: 40px;
    width: 200px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 12px center;
    transition: background-image .6s;
  }

  section #float-left {
    padding: 150px 65px 0px 65px;
    grid-area: 1/1/1/2;
  }

  section #float-left h1 {
    font-size: 40px;
    align-self: flex-start;
  }

  section #float-left p {
    font-size: 16px;
  }

  section #float-left h2 {
    font-size: 25px;
  }

  section #float-left button {
    position: relative;
    width: 200px;
    height: 70px;
    align-self: flex-start;
    font-size: 22px;
  }

  section #float-right #top-image img {
    width: 320px;
  }

  section #float-right #bottom-image img:nth-child(1),
  section #float-right #bottom-image img:nth-child(3) {
    width: 170px;
  }

  section #float-right #bottom-image img:nth-child(2) {
    width: 150px;
  }

  footer #explorer {
    width: 420px;
    background-color: #000;
    color: #fff;
    font-size: 24px;
    line-height: 166px;
    cursor: pointer;
  }
}

@media screen and (max-width: 1100px) {
  section .navbar .navbar-collapse {
    justify-content: space-evenly !important;
  }

  section .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding-left: 22px !important;
    padding-right: 22px !important;
  }
}

@media screen and (max-width: 920px) {
  #icon-Bag {
    display: none;
  }

  section {
    height: 100%;
    grid-template-columns: 100%;
  }

  .close {
    display: block;
    color: #fff;
    height: auto;
    margin-bottom: 10px;
  }

  .close::before {
    content: '';
    width: 40px;
    height: 4px;
    display: block;
    background-color: #fff;
    transform: translate(0px, 3px) rotate(40deg);
  }

  .close::after {
    content: '';
    width: 40px;
    height: 4px;
    display: block;
    background-color: #fff;
    transform: translate(0px, -1px) rotate(-40deg);
  }

  section .navbar .navbar-collapse {
    display: none !important;
  }

  section .navbar .navbar-collapse {
    display: flex !important;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 350px;
    flex-direction: column;
    row-gap: 12px;
    padding: 30px 12px 20px 12px;
    border: 1px solid #000;
    background-color: #000;
    transition: all .3s;
    overflow: hidden;
    opacity: 0;
  }

  section .navbar .add .navbar-collapse {
    width: 260px;
    opacity: 1;
  }

  section .navbar .navbar-collapse .navbar-nav {
    flex-direction: column;
    align-items: center;
    row-gap: 12px;
  }

  section .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    color: #fff !important;
  }

  section #float-left {
    padding: 120px 20px 60px !important;
    grid-area: 1/1/1/2;
  }

  section #float-left h1 {
    align-self: auto;
    text-align: center;
  }

  section #float-left h1 br:nth-child(1) {
    display: none;
  }

  section #float-left h2 {
    text-align: center;
    margin-bottom: 12px;
  }

  section #float-left button {
    width: 200px;
    height: 60px;
    align-self: auto;
    font-size: 22px;
  }

  section #float-right {
    padding: 100px 20px 100px !important;
    grid-area: 2/1/2/2;
  }

  section .mobile {
    display: block;
    width: 40px;
    height: 40px;
    padding: 4px 2px;
  }

  section .mobile span {
    display: block;
    width: 100%;
    margin: 5px 0px;
    height: 4px;
    background-color: #000;
  }

  footer {
    height: 100%;
    flex-direction: column;
  }

  footer #footer-list {
    height: 120px;
    align-items: center;
    list-style: none;
    margin: 0px;
  }

  footer #explorer {
    width: 100%;
    height: 180px;
    background-color: #000;
    color: #fff;
    font-size: 28px;
    line-height: 180px;
    cursor: pointer;
  }
}

@media screen and (max-width: 600px) {
  section #float-left h1 {
    font-size: 35px;
  }

  section #float-left p {
    margin-bottom: 25px !important;
    padding: 0px 20px;
  }

  section #float-left h2 {
    font-size: 20px;
  }

  section #float-left button {
    width: 180px;
    height: 50px;
    font-size: 20px;
  }

  section #float-right #top-image img {
    width: 250px;
  }

  section #float-right #bottom-image img:nth-child(1),
  section #float-right #bottom-image img:nth-child(3) {
    width: 160px;
  }

  section #float-right #bottom-image img:nth-child(2) {
    width: 140px;
  }

  footer #explorer {
    font-size: 24px;
  }
}

@media screen and (max-width: 530px) {
  section #float-right #bottom-image {
    width: 100%;
    overflow: auto;
    justify-content: normal !important;
  }

  section #float-right #bottom-image img {
    margin: 0px 12px;
  }

  section #float-right #bottom-image img:nth-child(1),
  section #float-right #bottom-image img:nth-child(2),
  section #float-right #bottom-image img:nth-child(3) {
    width: 160px;
  }

  footer #footer-list {
    flex-direction: column;
    height: 100%;
    padding: 20px 0px !important;
  }
}

@media screen and (max-width: 420px) {
  ul li a {
    font-size: 16px;
  }

  #input-search {
    padding-left: 40px;
    width: 170px;
    height: 35px;
    background-repeat: no-repeat;
    background-position: 12px center;
    transition: background-image .6s;
  }

  section .mobile span {
    height: 3px;
  }

  section .navbar .navbar-collapse {
    row-gap: 0px;
    padding: 30px 12px;
    border: none;
    background-color: #000;
    transition: all .3s;
    overflow: hidden;
    opacity: 0;
  }

  section .navbar .add .navbar-collapse {
    width: 220px;
    opacity: 1;
  }

  section .navbar .navbar-collapse .navbar-nav {
    row-gap: 10px;
  }
}

@media screen and (max-width: 350px) {
  section #float-right #top-image img {
    width: 100%;
  }

  section #float-right #bottom-image img:nth-child(1),
  section #float-right #bottom-image img:nth-child(2),
  section #float-right #bottom-image img:nth-child(3) {
    width: 140px;
  }
}